<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light sticky-sm-top">
  <a class="navbar-brand text-white" href="#"> <img src={{logo}} class="card-img" id="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" style="margin-right: 3%;">
      <div class="navbar-nav ">
        <a class="nav-item nav-link " id="nav-item" routerLink= "../home" href="#">Home</a>
        <a class="nav-item nav-link " id="nav-item" routerLink= "../about" href="#">About</a>
        <a class="nav-item nav-link " id="nav-item" routerLink= "../products" href="#">Products</a>
        <a class="nav-item nav-link " id="nav-item" routerLink= "../product-details" href="#">Details</a>
        <a class="nav-item nav-link " id="nav-item" routerLink= "../contact" href="#">Contact</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>

<!--App Component-->
<h1>App Component</h1>
<p>
{{todayDate}} <br>
Service property: {{componentProperty}}
</p>

<hr>
<app-new-cmp></app-new-cmp>
