<div class="accordion" id="accordionExample">
    <div class="accordion-item" style="background-color: #214761; color: white;">
      <h2 class="accordion-header" id="headingOne" style="font-family: Tahoma, Verdana, sans-serif;">
          Contact
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="font-family: Tahoma, Verdana, sans-serif;">
          <strong style ="font-size: 25px; color:#6dbfb8;">E-mail</strong><br>
          <br>
          <strong style ="color: #75ba75;">Personal Email: </strong>aejorisantiago@gmail.com<br>
          <strong style ="color: #75ba75;">University Email: </strong>assantiago@student.hau.edu.ph<br>
          <strong style ="color: #75ba75;">Contact Number: </strong>0928077310<br>
        </div>
      </div>
    </div>