<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstastic.com" crossorgin>
<link href="https://fonts.googleapis.com/css2?family=Gudea&display=swap" rel="stylesheet">

<div class="card bg-dark text-white">
    <img src={{cover}} class="card-img">

    <div class="d-flex align-items-center card-img-overlay" id="bgw">
        <div class="flex-grow-1 ms-3 text-center" id="bg">
        </div>
    </div>

    <div class="d-flex align-items-center card-img-overlay">
        <div class="flex-grow-1 ms-3 text-center">
            <br>
            <p class="btn" routerLink="../products">Shop</p>
            <br>
        </div>
    </div>
    
</div>