<div class="accordion" id="accordionExample" style="background-color: #214761; color: white;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne" style="font-family: Tahoma, Verdana, sans-serif;">
          About
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="font-family: Tahoma, Verdana, sans-serif;">
          <strong style ="font-size: 25px; color:#6dbfb8;">Personal Information</strong><br>
          <br> 
          <strong style ="color: #75ba75;">Name: </strong>Santiago, Aenon Jorish S.<br>
          <strong style ="color: #75ba75;">Age: </strong>20<br>
          <strong style ="color: #75ba75;">Birthdate: </strong>June 9, 2001 <br>
          <strong style ="color: #75ba75;">Nationality: </strong>Filipino<br>
          <strong style ="color: #75ba75;">Civil Status: </strong>Single<br>
          <strong style ="color: #75ba75;">Address: </strong>Angeles City, Pampanga <br>
          <strong style ="color: #75ba75;">Gender: </strong>Male<br>
          <hr>
          <strong style ="font-size: 25px; color:#6dbfb8;">Educational Background</strong><br>
          <br>
          <strong style ="color: #75ba75;">College</strong><br>
          Holy Angel University<br>
          Sto. Rosario St. Angeles City<br>
          A.Y. 2019-Present<br>



        </div>
      </div>
    </div>
    
