<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">


<p class="text-center" id="category">Jacket</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product1}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Denim Jacket</h5>
          <p class="card-text">#SHL0001</p>
          <p class="card-text">₱ 2,100.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>
<p class="text-center" id="category">Pants</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product2}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Billie Jeans</h5>
          <p class="card-text">#SHL0002</p>
          <p class="card-text">₱ 2,290.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>
<p class="text-center" id="category">T-Shirts</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product3}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Ben 10 Shirt</h5>
          <p class="card-text">#SHL0003</p>
          <p class="card-text">₱ 2069.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>
<p class="text-center" id="category">Shoes</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product4}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Max Air</h5>
          <p class="card-text">#SHL0004</p>
          <p class="card-text">₱ 4,250.50</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>
<p class="text-center" id="category">Handbags</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product5}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Leather Bag</h5>
          <p class="card-text">#SHL0005</p>
          <p class="card-text">₱ 10,952</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>
<p class="text-center" id="category">Jogging Pants</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product6}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Jog Pants</h5>
          <p class="card-text">#SHL0006</p>
          <p class="card-text">₱ 869.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>
<p class="text-center" id="category">Faceshields</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product7}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Full Shield</h5>
          <p class="card-text">#SHL0007</p>
          <p class="card-text">₱ 2500.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>
<p class="text-center" id="category">Mugs</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product8}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Spider Man Mug</h5>
          <p class="card-text">#SHL0008</p>
          <p class="card-text">₱ 696.69</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../productdetails" id="detail">Details</p>
        </div>
      </div>
    </div>

<br><br>