<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">

    <div class="d-flex align-items-center card-img-overlay">
        <div class="flex-grow-1 ms-3 text-center">
        </div>
    </div>
    
    <div class="d-flex align-items-center card-img-overlay" id="about-content">
        <div class="flex-grow-1 ms-3 text-start" >
            <p class="card-title " id="header">About</p>
            <p class="card-text" id="info">
                <br>We are pioneers at everything we do, and we work hard to keep it that way. Our pioneering spirit generates a contagious energy, which is what enables us to keep putting new ideas into practice.<br>


                <br>Our strength lies in our formula: straight, to the point and still personal. Fast and effective. Combining craftsmanship with flair.<br>
                
                <br>There are few things that distract us. This approach enables us to create an environment in which our customers feel that we only have eyes for them. We are there for people who want to be seen.<br>
                <br>
            </p>
            <p class="btn " routerLink= "../contact">Contact us</p>
        </div>
      </div>